body{
    height: 1000px;
}
.error{
    border: solid red;
}
.bg{
    width: 100%;
    height: 100px;
    background-color: aqua;
    position: fixed;
}
.bgd{
    width: 100%;
    height: 100px;
    background-color: blue;
    position: fixed;
}