/* part 2 color box */
.color{
    width: 50%;
    height: 50px;
    background-color: aqua;
    display: flex;
}
span{
    width: 25%;
    height: 100%;
    cursor: pointer;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
